<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FrecuenciaMinutosGeneracionEventos" value="15"/>
    <add key="ActivarGeneracionEventos" value="True"/>
    <add key="UrlWebServiceSin" value="http://inmobiliaria.com/PropiedadesServicioSinc.asmx"/>
    <add key="ConnString" value="Data Source=emiliomovilhp\sqlexpress;Initial Catalog=Inmobiliariadb;Persist Security Info=True;User ID=sa; password=hardwind" />
  </appSettings>
</configuration>

