<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UrlWebServiceSin" value="http://www.pime.com.ar/PropiedadesServicioSinc.asmx"/>
    <add key="ConnString" value="Data Source=EMILIOMOVILHP\SQLEXPRESS;Initial Catalog=InmobiliariaDb;Persist Security Info=True;User ID=sa; password=hardwind"/>
  </appSettings>
</configuration>