<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnString" value="Data Source=.\SQLEXPRESS;AttachDbFilename='C:\Users\Emilio\Documents\Visual Studio 2005\Projects\pimesoft\Database\InmobiliariaDb_Data.MDF';Integrated Security=True;Connect Timeout=30;User Instance=True"/>
  </appSettings>
</configuration>