<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FrecuenciaMinutosGeneracionEventos" value="30"/>
    <add key="ActivarGeneracionEventos" value="True"/>
    <add key="UrlWebServiceSin" value="http://www.pime.com.ar/PropiedadesServicioSinc.asmx"/>
    <add key="ConnString" value="Data Source=.\SQLEXPRESS;AttachDbFilename='C:\pime db 3 Iteracion\InmobiliariaDb.MDF';Integrated Security=True;Connect Timeout=30;User Instance=True"/>
      <!--<add key="ConnString" value="Data Source=pime.com.ar;Initial Catalog=inmobiliariadb;Persist Security Info=True;User ID=user_db; password=1234" />-->
  </appSettings>
</configuration>