<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FrecuenciaMinutosGeneracionEventos" value="1"/>
    <add key="ActivarGeneracionEventos" value="True"/>
    <add key="UrlWebServiceSin" value="http://localhost:28058/PropiedadesServicioSinc.asmx"/>
    <add key="ConnString" value="Data Source=PIEZA\SQLEXPRESS;Initial Catalog=inmobiliariadb;User ID=daniel; password=12345" />
  </appSettings>
</configuration>

