<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FrecuenciaMinutosGeneracionEventos" value="15"/>
    <add key="ActivarGeneracionEventos" value="True"/>
    <add key="UrlWebServiceSin" value="http://inmobiliaria.com/PropiedadesServicioSinc.asmx"/>
    <add key="ConnString" value="Data Source=www.elcanoygeremia.com.ar;Initial Catalog=Inmobiliariadb_eyg;Persist Security Info=True;User ID=user_eyg; password=1234" />
  </appSettings>
</configuration>

