<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FrecuenciaMinutosGeneracionEventos" value="15"/>
    <add key="ActivarGeneracionEventos" value="True"/>
    <add key="UrlWebServiceSin" value="http://inmobiliaria.com/PropiedadesServicioSinc.asmx"/>
    <add key="ConnString" value="Data Source=.\SQLEXPRESS;AttachDbFilename='|DataDirectory|\DB\InmobiliariaDb.MDF';Integrated Security=True;Connect Timeout=30;User Instance=True" />
  </appSettings>
</configuration>

